/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2019, 2:59:16 PM
    Author     : SANG
*/

#wrapper {
    /*background-color: #414545;*/
    width:  960px;
    height: 1000px;
    margin: 0 auto;
}
.box {
    width: 400px;
    height: 300px;
    /*background-color: yellow;*/
    margin: 10px;
    float: left;
    /*padding-left: 60px;*/
    position: relative;
}
.box-1{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    margin: 10px;
    position: absolute;
}
.box-1 img {
    width: 100px;
    height: 100px;
    
}
.box-2 {
    float: right;
    text-align: justify;
    margin: 0;
    margin-left: 114px;
}