/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2019, 3:27:35 PM
    Author     : SANG
*/
.form-group {
    margin: 10px 2px;
}
.form-control {
    padding: 5px;
    margin: 3px 0;
    width: 200px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 3px blue;
    color: orange;
    display: block;
    outline: none;
}
.form-control:focus {
    box-shadow: 0 0 3px red;
}
.btn {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #2e6da4;
    color: #fff;
    background-color: #337ab7;
}